
*:active, *:hover, *:focus {
    outline: 0;
    outline-offset: 0;
}

body{
    font-family: 'Open Sans', 'Arial', sans-serif;
}
section{
    padding: 70px 0;
}
ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figure,p{
    margin: 0;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.btn{
    color: #fff;
    cursor: pointer;
}

.section-title{
    color: $colorText;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    span{
        color: $colorBlue;
    }
}

/*----- HEADER -----*/

header{
    background-color: #fff;
    // padding: 22px 0 0px;
    z-index: 2;
}

.header-logo{
    padding: 22px 0 0;
    width: 190px;
}
.header-top{

}
.header-logo__img{
    max-width: 100%;
}

.header-content{
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 22px 0 0;
    // padding-left: 7px;
}
.icon-search-symbol{
    font-size: 22px;
    vertical-align: middle;
}
.header-form input::-webkit-input-placeholder{
    color: #bababa;
    font-size: 14px;
    font-weight: 400;
}

.header-form input:-moz-placeholder{
    color: #bababa;
    font-size: 14px;
    font-weight: 400;
}

.header-form input::-moz-placeholder{
    color: #bababa;
    font-size: 14px;
    font-weight: 400;
}
.header-form input:-ms-input-placeholder{
    color: #bababa;
    font-size: 14px;
    font-weight: 400;
}

.header-form input:-moz-placeholder, input::-moz-placeholder{
    opacity: 1;
}

.header-form__input{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-left: 15px;
    width: 142px;
}

.header-contacts{
    align-items: center;
    display: flex;

    i{
        font-size: 32px;
        margin-right: 9px;
        vertical-align: middle;
    }
}

.header-phones{
    display: flex;
    flex-direction: column;
}

.header_phone{
    color: $colorText;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;

    &:hover{
        color: $colorText;
        text-decoration: underline;
    }
}

.btn-header{
    background-color: $colorBlue;
    border-radius: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding: 6px 20px;
    text-transform: uppercase;
}

.btn-header:hover{
    box-shadow: 0 5px 10px rgba(49, 90, 237, 0.6);
}

.multilang__icon{
    font-size: 27px;
    line-height: 27px;
    vertical-align: bottom;
}
.multilang__ua{
    color: $colorBlue;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    vertical-align: bottom;
}
.multiLang__ru{
    color: #c6c6c6;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: middle;
}

.fb{

    i{
        font-size: 36px;
    }
}
.header-bottom{
    margin-top: 30px;
    position: relative;
    z-index: 2;
}
nav{
    background-color: #fff;
    box-shadow: 0 4px 17.5px 1.5px rgba(49, 90, 237, 0.3);
    padding: 27px 30px;
    // position: relative;
    z-index: 2;
}
.nav__list{
    display: flex;
    justify-content: space-around;
}
.nav__link{
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.dropdown{

}
.nav__subList{
    background-color: #fff;
    display: none;
    // display: block;
    left: -25px;
    min-width: 190px;
    padding: 0 10px 10px;
    position: absolute;
    top: 50px;
    z-index: -1;
}
.nav__subItem{
    padding-top: 10px;
}
.nav__subLink{
    color: $colorText;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.nav__subLink:hover{
    color: $colorBlue;
    transition: all .5s ease;
}
/*----- SECTION-TOP -----*/

.section-top{
    margin-top: -36px;
}

.top{
    background: url(../img/top.jpg) top center no-repeat;
    color: #fff;
    min-height: 898px;
    padding-top: 331px;
    text-align: center;
}

.top__title{
    font-size: 52px;
    font-weight: 700;
    // text-align: center;
}

.top__subtitle{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.top__btn{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 34px;
    font-size: 26px;
    font-weight: 700;
    padding: 15px 28px;
}

.top__btn:hover{
    background-color: #fff;
    color: $colorBlue;
    transition: all .5s ease;
}


/*----- SECTION-SERVICES -----*/

.section-services{
    background-color: #f5f5f5;
}
.services__title{
    margin-bottom: 70px;
}
.services{
    display: flex;
    justify-content: space-between;
}
.service{
    display: flex;
    flex-basis: 24%;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.service__figure{

}
.service__img{

}
.service__textBox{
    color: #fff;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 0 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.service__title{
    margin-top: 62%;
}

.service__title, .serviceOverlay__title{
    font-size: 21px;
    font-weight: 400;
}

.service__overlay{
    align-items: center;
    background-color: rgba(34, 59, 161, 0.58);
    display: none;
    height: 100%;
    left: 0;
    padding: 0 36px;
    position: absolute;
    top: 0;
    width: 100%;
}

.serviceOverlay__title{
    margin: 85px 0 0px;
}

.serviceOverlay__btn{
    border: 1px solid white;
    border-radius: 17px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: auto 0 30px;
    padding: 5px 14px;
    width: 135px;
}


/*----- SECTION-ADVANTAGES -----*/

.section-advantages{

}

.advantages__title{
    margin-bottom: 65px;
}

.advantages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantageItem{
    align-items: center;
    display: flex;
    flex-basis: 22%;
    flex-direction: column;
    margin-bottom: 65px;
}

.advantageItem__container{
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(49, 90, 237, 0.6);
    height: 114px;
    margin-bottom: 25px;
    text-align: center;
    width: 114px;
}

.advantageItem__icon{
    font-size: 70px;
    line-height: 105px;
}

.advantageItem__caption{
    color: $colorText;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    span{
        font-weight: 700;
    }
}


/*----- SECTION-COMMENTS -----*/

.section-comments{
    background-color: #f5f5f5;
    padding-bottom: 70px;
}

.comments__title{
    margin-bottom: 70px;
}

.comments{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.comment{
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
}

.comment__customer, .comment__reply{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.comment__customer{
    flex-direction: row-reverse;
    margin-bottom: 15px;

}

.comment__reply{

}

.comment__content{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(49, 90, 237, 0.6);
    max-width: 419px;
    padding: 10px 10px 10px 15px;
    position: relative;
}

.comment__triangle{
    position: absolute;
    top: 20px;
}

.comment__triangle_left{
    left: -6px;
}

.comment__triangle_right{
    right: -6px;
    transform: rotate(180deg);
}

.comment__text{
    color: $colorComments;
    font-size: 16px;
    font-weight: 400;
}

.comment__meta{
    color: #bababa;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.comment__img{
    width: 100%;
}

.comment__logo{

}

.comment__logo_company{
    margin-top: 10px;
}

.comment__logo_proma{
    margin-top: 15px;
}

.comment__name{

}

.btn-services{
    background-color: $colorBlue;
    border-radius: 17px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 auto;
    padding: 6px 20px;
    text-transform: uppercase;
}

.btn-services:hover{
    box-shadow: 0 5px 10px rgba(49, 90, 237, 0.6);
}


/*----- SECTION-ABOUT -----*/

.section-about{

}

.about{
    display: flex;
    justify-content: space-between;
}

.about__figure{
    img{
        width: 100%;
        min-width: 417px;
    }
}

.about__container{
    margin-left: 15px;
}

.about__text{
    color: $colorText;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    span{
        font-weight: 700;
    }
}
.about__text:not(:last-child){
    margin-bottom: 20px;
}


/*----- SECTION-AUTOPARK -----*/

.section-autopark{
    background-color: #f5f5f5;
}

.autopark{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.autopark__figure{
    margin-bottom: 10px;
}


/*----- FOOTER -----*/

footer{
    background-color: #e8e8e8;
    padding: 50px 0;
    a,p{
        color: $colorText;
    }
}

.footerLogo{
    max-width: 190px;
}

.footerMenus{
    display: flex;
    justify-content: space-between;
}

.footerMenu{
    flex-basis: 50%;
}

.footerContacts{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

.footerContacts__location{
    display: flex;
    flex-basis: 40%;
    span{
        line-height: 50px;
    }
}

.footerContacts__address{
    display: inline-block;
}

.footerContacts__phones{
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
}

.footerContacts__phonesContainer{
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}

.footerContacts .icon-placeholder-futer, .footerContacts .icon-telephone, .footerContacts .icon-facebook, .footerContacts .icon-email{
    font-size: 30px;
}

.footerContacts__text, .footerContacts__link{
    color: #a2a2a2;
}


.footerContacts__mailto{
    margin: 15px 0 50px;
}

.footerContacts__copyright{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footerContacts__text{
    align-self: flex-end;
}

.footerContacts__paradigma{
    display: flex;
    justify-content: flex-end;
}

.footerContacts__link{
    line-height: 21px;
}
