@import "_variables";

@media (max-width:1199px) {
    .header-bottom{
        margin-top: 0;
    }
    .header-content{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header-form, .header-contacts, .btn-header{
        flex-basis: 30%;
    }
    .multiLang, .fb-top, .mobileMenu__open{
        flex-basis: 15%;
        margin-top: 15px;
        text-align: center;
    }
    .btn-header{
        margin: 0 0 0px 15px;
    }
    .icon-close_menu{
        display: block;
        margin-left: auto;
    }
    .mobileMenu__open{
        display: block;
        text-align: right;
        i{
            font-size: 30px;
        }
    }
    nav{
        box-shadow: none;
        padding: 0;
    }
    .nav__list{
        display: none;
    }
    .section-top{
        margin-top: 0;
    }

    .comment__logo_company{
        margin-left: 15px;
    }
    .comment__logo_client{
        margin-right: 15px;
        margin-top: 12px;
    }
    .comment__text{
        margin-bottom: 15px;
    }
    .footerContacts{
        margin-left: 25px;
    }
    .footerContacts__phones{
        flex-basis: 47%;
        margin-left: 0;
        padding-left: 0;
    }
    .footerContacts__phonesContainer{
        flex-basis: 100%;
    }
    .footerContacts .icon-telephone{
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .top{
        min-height: 660px;
        padding-top: 230px;
    }
}

@media (max-width: 991px) {
    .header-logo, .header-content{
        padding-top: 12px;
    }
    .mobileMenu__open{
        margin-top: 0;
    }
    .mobileList{
        padding-top: 15px;
    }
    .header-contacts{
        display: none;
    }
    .header-form{
        flex-basis: 40%;
    }
    .btn-header{
        font-size: 14px;
        padding: 6px 14px;
    }
    .multiLang, .fb-top{
        display: none;
    }
    .mobileList-fb{
        display: block!important;
    }
    .mobileList__item .mobileList-contacts,.mobileList__multiLang{
        display: flex!important;
    }
    .top{
        min-height: 600px;
        padding: 150px 15px 0;
    }
    .top__title{
        margin-bottom: 40px;
    }
    .services{
        flex-wrap: wrap;
    }
    .service{
        flex-basis: 49%;
    }
    .service__figure{
        width: 100%;
    }
    .service__img{
        width: 100%;
    }
    .service__title{
        margin-top: 55%;
    }
    .service{
        margin-bottom: 15px;
    }
    .serviceOverlay__btn{
        margin-bottom: 100px;
    }
    .advantageItem__caption{
        br{
            display: none;
        }
    }
    .about{
        flex-direction: column;
    }
    .about__figure{
        text-align: center;
        margin-bottom: 20px;
    }
    .about__img{
        max-width: 100%;
        width: auto;
    }
    .about__container{
        margin-left: 0;
    }
    .autopark__link{
        flex-basis: 32%;
    }
    .footerMenus{
        flex-direction: column;
    }
    .footerContacts{
        margin-left: 0;
    }
    .footerContacts__location{
        flex-basis: 100%;
        margin-right: 0;
    }
    .footerContacts__phones{
        flex-basis: 100%;
    }
    .footerContacts .icon-placeholder-futer, .footerContacts .icon-telephone, .footerContacts .icon-email{
        margin-right: 30px;
    }
    .fb-bottom{
        order: 4;
    }
    .footerContacts__mailto{
        margin-bottom: 15px;
        order: 3;
    }
    .footerContacts__paradigma{
        justify-content: flex-start;
    }
}
@media (max-width:767px) {

    .header-logo, .header-content{
        padding-bottom: 11px;
    }

    .header-form, .btn-header{
        display: none;
    }
    .mobileList-form{
        display: block;
    }

    .mobileList-btn{
        display: inline-block!important;
    }
    .serviceOverlay__btn{
        margin-bottom: 60px;
    }

    .advantages{
        justify-content: flex-start;
    }
    .advantageItem{
        flex-basis: 33%;
    }
    .comments{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .comment{
        align-items: center;
        margin-bottom: 30px;
    }
    .comment__customer{
        margin-bottom: 0;
    }
    .comment__customer, .comment__reply{
        flex-direction: column-reverse;
    }
    .comment__img{
        max-width: 100%;
        width: auto;
    }
    .comment__triangle{
        display: none;
    }
    .comment__content_mr30{
        margin-right: 0;
    }
    .comment__content_ml28,.comment__logo_company{
        margin-left: 0;
    }
    .autopark__link{
        flex-basis: 48%;
    }
    .footerMenus{
        padding-left: 0;
    }

}
@media (max-width: 576px) {
    .col-xs-6{
        width: 50%!important;
    }
    .header-logo{
        padding-left: 15px;
    }
    .header-content{
        padding-right: 15px;
    }
    .top{
        min-height: 500px;
        padding: 100px 15px 0;
    }
    .top__title{
        font-size: 42px;
    }
    .top__subtitle{
        font-size: 28px;
    }
    .services{
        padding: 0 15px;
    }
    .about{
        padding: 0 15px;
    }
    .autopark{
        padding: 0 15px;
    }
    .footerLogo{
        margin-bottom: 30px;
    }
    .footerContacts{
        padding: 0 15px;
    }
    .footerContacts__phones{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footerContacts__phonesContainer{
        flex-basis: 60%;
    }
    .fb-bottom{
        flex-basis: 60%;
        order: 4;
    }
    .footerContacts__mailto{
        order: 3;
    }
    .footerContacts__copyright{
        justify-content: flex-start;
    }
    .footerContacts__text{
        align-self: flex-start;
    }
}
@media (max-width: 490px) {
    .top__title {
        font-size: 34px;
    }
    .top__subtitle {
        font-size: 26px;
        padding: 0 15px;
    }
    .top__btn{
        font-size: 20px;
    }
    .services{
        align-items: center;
        justify-content: center;
    }
    .service{
        flex-basis: 90%;
    }

    .serviceOverlay__btn {
        margin-bottom: 40px;
    }


    .advantageItem{
        flex-basis: 50%;
    }
    .about__img{
        min-width: auto;
    }
    .section-comments{
        padding: 0 15px 70px;
    }
}
@media (max-width: 375px) {
    .top{
        padding-top: 100px;
    }
    .top__title{
        font-size: 26px;
        margin-bottom: 20px;
        padding: 0 5px;
    }
    .top__subtitle{
        font-size: 20px;
    }
    .top__btn{
        font-size: 16px;
    }
    .advantageItem{
        flex-basis: 100%
    }
    .autopark{
        justify-content: center;
    }
    .autopark__link{
        flex-basis: 98%;
    }
}
